<div class="container">
  <section id="contact" class="row panel">
		<div class="col content">
			<div class="row">
				<div class="col">
					<h2 class="section-title" >{{page.header.title}}</h2>
					<p>{{page.header.desc|markdown}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-4">
					<div class="contact-box">
						<img class="contact-icon" src="{{ url('theme://images/mail.svg') }}" >
						<h6 class="contact-details" >{{page.header.email}}</h6>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="contact-box">
						<img class="contact-icon" src="{{ url('theme://images/phone.svg') }}" >
						<h6 class="contact-details" >{{page.header.phone}}</h6>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="contact-box">
						<img class="contact-icon" src="{{ url('theme://images/facebook-logo.svg') }}" >
						<h6 class="contact-details" ><a href="{{page.header.fb}}" target="_blank" >Facebook</a></h6>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="row">
						<div class="col pt-4">
							<h4>{{page.header.formTitle}}</h4>
						</div>
					</div>
					<div class="row">
						<div class="col" style="flex-direction: column" >
							{% include "forms/form.html.twig" %}
							<div class="message-sent-success" id="form-result-success" style="display: none;" >{{page.header.successMessage}}</div>
							<div class="message-sent-error" id="form-result-error" style="display: none;" >Wystąpił problem podczas wysyłania maila, prosimy spróbować później</div>
              <div class="row footer-wrapper">
	              <div class="col footer pt-4">
	              	Copyright &copy; Jeziorscy fotografia | Wszelkie prawa zastrzeżone.
	              </div>
              </div>
            </div>
					</div>
					<div style="visibility: hidden" >Icons made by <a href="https://www.flaticon.com/authors/zurb" title="Zurb">Zurb</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript">
    $(document).ready(function(){
		  var form = $('#contact-form');
		  form.submit(function(e) {
		      e.preventDefault();
		      $.ajax({
		          url: form.attr('action'),
		          type: form.attr('method'),
		          dataType: 'html',
		          data: form.serialize(),
		          success: function(result) {
								// console.warn('success', result);
		            $('#form-result-success').show();
								
		          },
							error: function(result) {
								// console.warn('error', result);
								$('#form-result-error').show();
							},
							complete: function() {
								$('.btn-block').attr("disabled", true);
							}
		      });
		  });
		});
	</script>
</div>